{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
          <h3>About Me</h3>
        <p>A Python Developer with 2+ years of self-taught experience with technologies such as flask, numpy, pandas, matplotlib, urllib and many more. A hard working individual with a passion and motivation to achieve goals and deadlines. A person who loves picking up new technologies and learning new things</p>
          <p>You can visit my <a href="https://www.shaunjonker.com">website</a> to see all the things I get up to!</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}